
.loader {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:#000;
    font-family:sans-serif;
    left:50%;
    overflow:hidden;
    padding-top:7vh;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%,-50%);
    width:50vw;
    &:before {
      animation:left-to-right 3s alternate infinite linear;
      background-image:linear-gradient(to right, transparent, var(--theme), transparent);
      content:"";
      height:5vh;
      left:0;
      overflow:hidden;
      position:absolute;
      right:0;
      top:0;
    }
    &:after {
      background-image:repeating-linear-gradient(
        90deg,
        white,
        white 1vw,
        transparent 1vw,
        transparent 10vw
      );
      content:"";
      height:5vh;
      left:0;
      overflow:hidden;
      position:absolute;
      right:0;
      top:0;
    }
  }
  .margin_top{
    margin-top: 5rem
  }
  @keyframes left-to-right {
    0% {
      transform:translateX(-100%);
    }
    100% {
      transform:translateX(100%);
    }
  }
  .flex{
    display: flex; 
    gap: 1rem
  }